node_modules
src
yarn-error.log
.editorconfig
.eslintrc.json
.eslintignore
.prettierrc
.browserslistrc
publish.sh
README.md

build
public

*.config.js
tsconfig.json

# jest
jest.config.js
test
coverage

